
#main{border:2px solid grey;;background-color: white;border-radius: 16px 12px 16px 16px;}


.sub{display:flex;justify-content: space-around;background-color:;/*;border:2px solid red;*/"}


/*#subpart{border:9px solid black;}
*/




#sub1{display:flex;back}